 </div>
<!-- content-wrapper ends -->
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; 2019 <a href="/">Bakery - Paystack Technical Challenge II</a>. All rights reserved.</span>
    </div>
</footer>
<!-- partial -->
            </div>
<!-- main-panel ends -->
        </div>
<!-- page-body-wrapper ends -->
    </div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/Resources/assets/main/vendors/js/vendor.bundle.base.js"></script>
<script src="/Resources/assets/main/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/Resources/assets/main/js/off-canvas.js"></script>
<script src="/Resources/assets/main/js/hoverable-collapse.js"></script>
<script src="/Resources/assets/main/js/template.js"></script>
<script src="/Resources/assets/main/js/settings.js"></script>
<script src="/Resources/assets/main/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
<!--================================custom script===========================================-->
<script src="/Resources/shared/js/jquery.cookie.js"></script>
<script src="/Resources/shared/js/jquery.sweet-modal.min.js"></script>
<script src="/Resources/shared/vendor/mojs/build/mo.js"></script>
<script src="/Resources/shared/vendor/noty/lib/noty.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!--<script src="/Resources/shared/js/bakery.js"></script>-->
</body>

</html>
